html {
    scroll-behavior: smooth;
    
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

header{
    display: flex;
    justify-content: center;
    margin: 2%;
    align-items: center;
}

header .retour-en-arriere{
    width: 10%;
    display: flex;
    align-items: center;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

header a{
    text-decoration: none;
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 2.5em;
}

/* Main */

/* Banniere */

.banniere{
    width: 100%;
}

.banniere img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}



.menus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-restaurant{
    background: #ebebeb;
    border-radius: 70px 70px 0 0;
    width: 90%;
    padding: 5%;
    margin-top: -75px;
    position: relative;
}

.menu-restaurant-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-restaurant-title h1{ 
    text-decoration: none;
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

.menu-restaurant-title .far.fa-heart{
    font-size: 2em;
}

.menus-categories{
    margin-top: 5%;
    width: 100%;
}

.menus-categories > p {
    font-weight: normal;
    font-size: 1em;
    border-bottom: 3px solid #99e2d0;
    width: 35px;
}

.menus-conteneur a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    border-radius: 25px;
    padding: 0 0 0 3%;
    margin-bottom: 15px;
    height: 75px;
    animation: fadein 1s;
    overflow: hidden;
    
}
@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5; 
    }
    100% {
    opacity:1;
    }
}

.menus-conteneur a .menu-title-description{
    width: 80%;
    transition-duration: 1s;
    transform: translateX(0px);
}

.menus-conteneur a .menu-price{
    width: 20%;
    padding-right: 3%;
    display: flex;
    justify-content: flex-end;
    transition-duration: 1s;
    transform: translateX(0px);
}

.menus-conteneur a .menu-ckeck{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    background-color: #99e2d0;
    border-radius: 0 25px 25px 0;
    margin-right: -70px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.menus-conteneur a .menu-ckeck .fa-solid.fa-circle-check{
    color: white;
    font-size: 1.5em; 
    transition-duration: .5s;
    transform: rotate(-180deg);
}

.menus-conteneur a:hover .menu-title-description{
    width: calc(100% - 20% - 70px);
}

.menus-conteneur a:hover .menu-price{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    transform: translateX(-70px);
}

.menus-conteneur a:hover .menu-ckeck{
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    background-color: #99e2d0;
    border-radius: 0 25px 25px 0; */ 
    transform: translateX(-70px);
}


.menus-conteneur a:hover .menu-ckeck .fa-solid.fa-circle-check{
    transition-property: transform;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
}

.menu-title-description h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-title-description p{
    margin-block-start: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zone-commander{
    display: flex;
    justify-content: center;
    background: #ebebeb;
    padding-bottom: 15%;
}

.button-commander{
    background: linear-gradient(#FF79DA ,#9356DC);
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    color: white;
    padding: 25px;
    cursor: pointer;
    box-shadow: 3px 1px 5px 1px grey;
    text-decoration: none;
    width: 30%;
    text-align: center;
}

.button-commander:hover{
    /* Revoir l'éclairssisement au survole. */
    background: linear-gradient(#f782d6f3 ,#9b66dde7);
    box-shadow: 4px 2px 5px 4px gray;
}

/* Footer */
footer{
    background-color:#000000c2;
    width: 95%;
    padding: 2% 0% 2% 5%;
}
.footer-title{
    font-family: 'Shrikhand', cursive;
    font-size: 1.5rem;
}

footer ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

footer ul li {
    list-style-type: none;
    padding-top: 1%;
}

footer a {
    color: white;
    text-decoration: none;

}
/* TABLETTE */
@media (min-width: 768px) and (max-width: 992px){
    .menu-price{
        display: contents;
    }

    .menus-conteneur a{
        width: 95%;
    }

    .menus-categories{
        width: 45%;
    }

    .menus {
        justify-content: space-around;
    }
}



/* DEXSTOP */

@media (min-width: 993px){

    .menu-price{
        display: contents;
    }
    
    .button-commander{
        font-size: 1.3em;
        width: 10%;
    }



    .menus-categories{
        width: 30%;
    }
}
