html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    margin: 2% 0%;
}

header a{
    text-decoration: none;
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 2.5em;
}

/* section 1 */
.city{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    height: 60px;
}

.city-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-box .fa-solid.fa-location-dot{
    padding-right: 5%;
    font-size: 25px;
}

.city-text-zone{
    color: black;
    border: none;
    background-color: #ebebeb;
    height: 50px;
    font-weight: bold;
    font-size: 25px;

}

.city-text-zone::placeholder{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

/* section */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 5%;
}

.intro h1{
    font-size: 2.5em;
    text-align: center;
}

.intro p{
    font-size: 2em;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
}

.button-explorer{
    background: linear-gradient(#FF79DA ,#9356DC);
    border: none;
    border-radius: 50px;
    font-size: 1.7em;
    color: white;
    padding: 2%;
    margin-top: 3%;
    cursor: pointer;
    box-shadow: 3px 1px 5px 1px grey;
    text-decoration: none;
}

.button-explorer:hover{
    /* Revoir l'éclairssisement au survole. */
    background: linear-gradient(#f782d6f3 ,#9b66dde7);
    box-shadow: 4px 2px 5px 4px gray;
}

/* main */

.fonctionnement{
    width: 90%;
    margin: auto;
}

main .fonctionnement-carte{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    text-decoration: none;
    color: black;
    margin-bottom: 3%;
}

main .fonctionnement-carte .fonctionnement-numero{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #9356DC;
    border-radius: 30px;
    justify-content: center;
    color: white;
    margin-right: -10px;
    z-index: 0;
}

main .fonctionnement-carte .fonctionnement-details{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 95%;
    background: #f6f6f6;
    height: 80px;
    border-radius: 25px;
    padding: 0% 5%;
    font-size: 1em;
    font-weight: bold;
}

main .fonctionnement-carte .fonctionnement-details:hover{
    background: #9256dc3f ;
}

main .fonctionnement-carte .fonctionnement-details i{
    margin-right: 5%;
}

/* restaurant */
.restaurants{
    width: 90%;
    padding: 0% 5%;
    background-color: #f6f6f6;
}
 .restaurantTitle{
  padding-top: 7%;
  margin-left: 7%;
 }

.restaurant-cards{
    width: 95%;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-left: 5%;
    box-shadow: 1px 3px 7px gray;
}

.restaurant-card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 250px;
}
.tag{
    background-color: #a9e0d1;
    color: #3b8468;
    font-weight: 500;
    padding: 0.7rem 1.5rem;
    position: absolute;
    right: 5rem;
    margin-top: 15px;
}
.restaurant-card-details{
    height: 100px;
}
.restaurant-card-details h3{
    font-size: 1.5rem;
    margin-left: 3%;
}

.restaurant-card-details p{
    font-size: 20px;
    margin-left: 3%;
    margin-top: -20px;
    font-weight: 200;
}

.restaurant-card-heart{

}

.restaurant-card-heart:hover{
    color: #9356DC;
}

/* footer */
footer{
    background-color:#000000c2;
    width: 100%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 4%;
}
.footer-title{
    font-family: 'Shrikhand', cursive;
    margin-left: 5%;
    font-size: 1.3rem;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 2%;
}

footer a {
    color: white;
    text-decoration: none;

}

/* TABLETTE */
@media (max-width: 992px) {
    .fonctionnement{
        display: flex;
        justify-content: space-between;
        width: 120%;

    }
    .fonctionnement a{
        margin-top: 7%;
        margin-left: -15%;
        margin-right: 15%;
    }
}


/* DEXSTOP */
@media (min-width: 993px) {

}
